
header.headerAuth{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $Primaire-color;
    box-shadow: 0 0.4rem 1rem $Tertiaire-color ;
}

.container{
    position: relative;
    height: 100vh;
    background: none;
    width: 100%;
    .back-ground{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        img{
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: -1;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            margin-top: 37vh;
        
        }
    }
}


main.mainAuth{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $Primaire-color;
    color: $Secondaire-color;
    border-radius: 30px;
    padding: 60px;
    white-space: nowrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 3;
    margin-top: 30px;
    .containerNavAuth{
        .auth__nav{
            display: flex;
            justify-content: space-around;
            width: 100%;
            li{
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
                // background: #e31d2d;
                padding: 10px 15px;
                border-radius: 20px;
                &:hover{
                    background: $Tertiaire-color;
                    color: $Secondaire-color;
                }
            }
            .nav-active{
                color: $Tertiaire-color;
                background: $Secondaire-color;
                &::after{
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
}

.form__auth{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 17px;
    position: relative;
    input{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid $Tertiaire-color;
        margin-bottom: 10px;
        font-size: 17px;
        &:focus{
            outline: none;
        }
    }
    .btn-auth{
        width: 50%;
        margin: auto;
        padding: 12px 10px;
        border-radius: 15px;
        color: $Tertiaire-color;
        text-align: center;
        font-weight: bold;
        background: $Secondaire-color;
        font-size: 18px;
        border: none;
        cursor: pointer;
        transition: all 0.1s linear;
        &:hover{
            background-color: $Tertiaire-color;
            color: $Secondaire-color;
        }
    }
    .name.error{
        color: $Tertiaire-color;
        margin-top: -1px;
        font-weight: bold;
    }
    .email.error{
        color: $Tertiaire-color;
        margin-top: -1px;
        font-weight: bold;
    }
    .password.error{
        color: $Tertiaire-color;
        margin-top: -1px;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    .form__auth{
        .btn-auth{
            width: 80%;
        }
    }
    .containerNavAuth{

        .auth__nav{
            justify-content: space-between;
        }
    }
}