* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    position: relative;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
    background-color: rgba(243, 244, 246, 1);
}


.background-login{
    background-color: #fff;
}

.mainContainer__100vh {
    width: 100%;
    height: 100vh;

}

.flou-appear {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 3;

}