@use "./base/base" as *; // Import all base styles
@use "./fonts/fonts" as *; // This is the only one that is not a mixin
@use "./layouts/index" as *; // This is the layout file.
@use "./pages/index" as *; // This is the page file.
@use "./animations/pageloader" as *; // This is the page loader file.